---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/ListBlog.astro";

const allPosts = await Astro.glob("./posts/*.md");
// const allFrontmatters = allPosts.map((post) => post.frontmatter);
// console.log(allFrontmatters);
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} pubDate={post.frontmatter.pubDate} imageUrl={post.frontmatter.image.url} imageAlt={post.frontmatter.image.alt} />)}
  </ul>
</BaseLayout>
